.app__specialMenu {
  flex-direction: column;
  background-color: var(--color-black);
}

.app__specialMenu-menu {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app__specialMenu-menu_wine,
.app__specialMenu-menu_cocktails {
  flex: 1;
}

.app__specialMenu-title {
  text-align: center;
}

.app__specialMenu-menu_img {
  width: 430px;
  margin: 2rem;
  margin-right: 3rem;
}

.app__specialMenu-menu_img img {
  width: 100%;
  height: auto;
}

.app__specialMenu-menu_heading {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-white);
}
